@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
}

hr{
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5rem;
}

.descripcion{
    display:grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
}

.caracteristicas{
    display:grid;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 70%;
}

.linea{
    width: 20%;

}

.linea hr{
    width: 100%;
}

img{
    width: 1000px;

}